@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/************
GLOBAL STYLES
*************/
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
  --Very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/

  --lexend-deca: "Lexend Deca", sans-serif;
  --big-shoulders: "Big Shoulders Display", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  background-color: var(--Very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

/************
MOBILE LAYOUT
*************/

/*card layout styles*/
.container {
  width: 100%;
  padding: 8rem 0;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  min-height: 66.5vh;
  width: 88%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  &--sedan {
    background-color: var(--bright-orange);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &--suv {
    background-color: var(--dark-cyan);
  }
  &--luxury {
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

/*card content styles*/
.icon {
  background-repeat: no-repeat;
  height: 4rem;
  width: 6.5rem;

  &--sedan {
    background-image: url("../images/icon-sedans.svg");
  }
  &--suv {
    background-image: url("../images/icon-suvs.svg");
  }
  &--luxury {
    background-image: url("../images/icon-luxury.svg");
  }
}

.title {
  color: var(--Very-light-gray);
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--big-shoulders);
}
.paragraph {
  color: var(--transparent-white);
  font-family: var(--lexend-deca);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.btn {
  height: 5rem;
  width: 15rem;
  border: none;
  border-radius: 100px;

  font-family: var(--lexend-deca);
  font-size: 1.5rem;
  font-weight: 400;

  &--sedan {
    color: var(--bright-orange);
  }
  &--suv {
    color: var(--dark-cyan);
  }
  &--luxury {
    color: var(--very-dark-cyan);
  }
  &:hover {
    background-color: transparent;
    border: 2px solid var(--transparent-white);
    color: var(--transparent-white);
    cursor: pointer;
  }
}

/************************
TABLET AND DESKTOP LAYOUT
*************************/
@media screen and (min-width: 768px) {
  /*card layout styles*/
  .container {
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card {
    min-height: 62.5vh;
    width: 28.9rem;
    padding: 4.5rem 4.7rem;

    transform: translateY(4%);
    &--sedan {
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--luxury {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  /*card content styles*/
  .title {
    font-size: 3.7rem;
    transform: translateY(-1.3rem);
  }
  .paragraph {
    font-size: 1.4rem;
    transform: translateY(-3.5rem);
    line-height: 2.4rem;
  }
  .btn {
    height: 4.5rem;
    width: 13.7rem;
    font-size: 1.39rem;
  }
}

/****************
ATTRIBUTION STYLE 
*****************/
.attribution {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-align: center;

  & a {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
  }
}
